############################################
# IntelliJ
############################################

.idea/
*.iml

############################################
# Maven
############################################

**/target/

############################################
# Environment
############################################

.env

############################################
# Spring Config (Real Files)
############################################

**/src/main/resources/application.properties
**/src/main/resources/application.yml

############################################
# Keep Example Files
############################################

!**/src/main/resources/application-example.properties
!**/src/main/resources/application-example.yml

############################################
# Logs
############################################

*.log
logs/

############################################
# Temporary
############################################

out/
bin/
tomcat-temp/

############################################
# VSCode
############################################

.vscode/

############################################
# Eclipse
############################################

.project
.classpath
.settings/